body
{
	background-color: #333333;
	font-family:Verdana;
	font-size:10pt;
	color:#828282;
}

h1
{
	color: #828282;
}

h2
{
	color: #828282;
}

a:link
{
	color:#000066; 
}

a:visited
{
	color:#828282;
}

.content
{
	width: 600px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 50px;
}

.contentSmall
{
	width: 300px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 50px;
}

.eventsTable
{
	width: 95%;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 10px;
}

.footer
{
	padding-top: 15px;
	width: 100%;
	text-align: center;
	font-size:x-small;
	color:#828282;
}

.footer a:link, a:visited
{
	text-align: center;
	font-size:x-small;
	color:#828282;
}

#buttonContainer
{
  width:220px;
  height: 20px;
  border:solid 1px #444444;
  padding: 10px;
  margin: 10px;
}

.voteButton
{
  text-align: center;
  background-color: #EEEEEE;
  float: left;
  border:solid 1px #444444;
  margin: 1px;
  cursor: pointer;
  width: 18px;
}

.leaderboard td
{
	padding: 5px;
	border-bottom: 1px solid #828282;
}