body
{
	background-color: #333333;
	font-family: Calibri, Verdana;
	line-height: 200%;
	font-size: 11pt;
	color: #222;
}

code
{
	line-height: normal;
	color: #000;
}

.siteTitle a:link
{
	width: 600px;
	font-size: 150%;
	padding: 5px 0px 0px 20px;
	line-height: 0px;
	text-decoration: none;
	margin: 0 auto;
}

h1
{
	font-size: 180%;
	color: #555;
}

h2
{
	font-size: 140%;
	color: #666;
}

h3
{
	font-size: 120%;
	color: #777;
}

.callToActionTable
{
	width: 100%;
	font-weight: bold;
	font-size: 110%;
	text-align: center;
}

a:link
{
	color: #006;
}

a:visited
{
	color: #222;
}

.header
{
	width: 600px;
	background-color: #222;
	margin: 0 auto;
	padding: 50px;
	padding-bottom: 30px;
}
.headerNarrow
{
	width: 300px;
	background-color: #222;
	margin: 0 auto;
	padding: 10px 50px 0px 50px;
}

.betatag
{
	color: #DDD;
	padding-left: 150px;
	font-style: italic;
}

.content
{
	width: 600px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 10px 50px 10px 50px;
}

.contentNarrow
{
	width: 300px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 10px 50px 10px 50px;
}

.navbar
{
	width: 600px;
	margin: 0 auto;
	background-color: #DDD;
	padding: 10px 50px 10px 50px;
}

.navbarNarrow
{
	width: 300px;
	margin: 0 auto;
	background-color: #DDD;
	padding: 0px 50px 0px 50px;
}

.subnavbar
{
	width: 600px;
	margin: 0 auto;
	background-color: #DDD;
	padding: 0px 0px 10px 100px;
}

.footer
{
	background-color: #222;
	padding: 15px 50px 15px 50px;
	width: 600px;
	text-align: center;
	font-size: x-small;
	color: #828282;
	margin: 0 auto;
}

.footer a:link, a:visited
{
	text-align: center;
	font-size: x-small;
	color: #828282;
}

.footerNarrow
{
	background-color: #222;
	padding: 5px 50px 5px 50px;
	width: 300px;
	text-align: center;
	font-size: x-small;
	color: #828282;
	margin: 0 auto;
}

.footerNarrow a:link, a:visited
{
	text-align: center;
	font-size: x-small;
	color: #828282;
}


.paragraph
{
	padding-bottom: 20px;
}

/*like a paragraph, but draws a bottom border*/
.section
{
	padding-bottom: 20px;
	border-bottom: 1px solid #555;
}

.eventsTable
{
	width: 95%;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 10px;
}

#buttonContainer
{
	width: 220px;
	height: 20px;
	border: solid 1px #444444;
	padding: 10px;
	margin: 10px;
}

.voteButton
{
	text-align: center;
	background-color: #EEEEEE;
	float: left;
	border: solid 1px #444444;
	margin: 1px;
	cursor: pointer;
	width: 18px;
	line-height: normal;
}

.leaderboard td
{
	padding: 5px;
	border-bottom: 1px solid #828282;
}

img
{
	border: 3px solid #555;
	margin-top: 5px;
	margin-bottom: 5px;
}


.errorContent
{
	width: 600px;
	min-height: 500px;
	background-color: #ffffff;
	margin: 0 auto;
	padding: 50px;
}

.errorImg
{
	border: none;
	float: right;
}

.Rated
{
	background-color: #CEC;
}

.NotRated
{
	background-color: #ECC;
}

.AccomplishedAchievement
{
	font-size: 110%;
}

.UnaccomplishedAchievement
{
	color: #CCC;
}

.PointValue
{
	font-size: 200%;
	font-family: Serif;
}

.Points
{
	width: 80px;
	float: right;
	border: 5px solid #555;
	margin: 10px;
	padding: 10px;
	text-align: center;
}