<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="WikiRaterWeb.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="WikiVoterConnectionString" connectionString="Data Source=.\SQLExpress;Initial Catalog=WikiVoter;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <system.web>
        <compilation debug="true" targetFramework="4.0" />
    </system.web>

    <applicationSettings>
        <WikiRaterWeb.Properties.Settings>
            <setting name="CurrentDomain" serializeAs="String">
                <value>http://localhost:13800</value>
            </setting>
            <setting name="WikiTitleRegex" serializeAs="String">
                <value>^.*(wiki/|index.php\?title=)([\w\.'%,/!\-]+)(noui)?.*?$</value>
            </setting>
            <setting name="RateOnWikiRaterText" serializeAs="String">
                <value>Rate on WikiRater</value>
            </setting>
            <setting name="Bookmarklet" serializeAs="String">
                <value>javascript:(function(){{f='{0}/Vote.aspx?url='+encodeURIComponent(window.location.href);a=function(){{if(!window.open(f+'noui=1&amp;jump=doclose','wikivoter','location=yes,links=no,scrollbars=no,toolbar=no,width=550,height=370'))location.href=f+'jump=yes'}};if(/Firefox/.test(navigator.userAgent)){{setTimeout(a,0)}}else{{a()}}}})()

</value>
            </setting>
            <setting name="RegCode" serializeAs="String">
                <value>TikiHead</value>
            </setting>
            <setting name="UsernameRegex" serializeAs="String">
                <value>^[a-zA-Z0-9_\.\-]{3,}$</value>
            </setting>
            <setting name="UsernameFailedMatchMessage" serializeAs="String">
                <value>Usernames must be greater than three characters and only contain only a-z 0-9, _, -, .</value>
            </setting>
            <setting name="LogAllURLs" serializeAs="String">
                <value>True</value>
            </setting>
        </WikiRaterWeb.Properties.Settings>
    </applicationSettings>
</configuration>
